{
  presets: [
    [
      "@babel/preset-env",
      {
        useBuiltIns: "usage",
        targets: {
          browsers: ["last 2 Chrome versions"]
        }
      }
    ],
    "@babel/preset-react",
    "@emotion/babel-preset-css-prop"
  ]
}
