{
  "extends": "airbnb",
  "plugins": ["react-hooks"],
  "env": {
    "browser": true
  },
  "rules": {
    "consistent-return": ["off"],
    "implicit-arrow-linebreak": ["off"],
    "import/no-named-as-default-member": ["off"],
    "max-len": [
      "warn",
      {
        "code": 80
      }
    ],
    "react/jsx-filename-extension": ["off"],
    "react/jsx-one-expression-per-line": ["off"],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}
